<html>
<head>
    <meta charset="UTF-8">
    
</head>
<body>
    <form action="/relation" method="POST">
        <center>
                
                <input type="submit" value="ADD RELATION"> &nbsp;<br><br>
       
        </form>
        <form action="/view" method="POST">
            <input type="submit" value="view">
        </center>
        </form>
       
</body>
</html>