<form action="/viewrelation" method="POST">
    <center>


        <select name="name">
            <% reln.forEach(function(user){ %>
                <option>
                      <%= user.name %> 
                    <% }) %>
                </option>
        </select>
        <select name="relation">
            <% addRn.forEach(function(Relation){ %>
                <option>
                    <%= Relation.names %>
                    <% }) %>
                </option>
        </select>
        
        <input type="submit" value="ADD">
         
        </center>
        
</form>
